.notfound{
    color: #f8f1f1;
    color: #11698e;
    color: #19456b;
    color: #16c79a
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


.text-header h1{
    text-transform: none;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.container-another{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}
h1{
    font-size: 50px;
}

header{
     width: 100%;
    height: 852px;
    background: #1a1a9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(27 180 222 / 76%), rgb(0 0 71 / 75%)), url(../images/principal.jpg);
    background: linear-gradient(to right, rgb(27 180 222 / 76%), rgb(0 0 71 / 75%)), url(../images/principal.jpg);
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position: center;
}
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #51578a;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.links-header{
    font-weight: 300;
 color: burlywood;

}
.links-header a{
    color:ghostwhite;
     text-decoration: none;
    margin-left:20px;
    text-align: center;
    
    background: linear-gradient();
}

.button-menu{
    display: none;

}

.container-header{
    width: 100%;
    display: flex;
    
    background-position: center;
    align-items: center;
    margin-top: 15%;
}



.container-header > img{
    width: 60%;
    animation: ease-in animationimg 1s;
}




.text-header{
    margin:80px;
    margin: 50px;
    
}

.text-header > h1{
    color: #fff;
    font-weight: bold;
    font-size: 3.2rem;
    margin-bottom: 30px;
    text-shadow: 2px 5px #19456b;
}

.text-header > p{
    color: #fff;
    font-size: 10;
    
    /*margin: 10px 0;*/
}

.text-header > a{
    background: #f8f1f1 ;
    display: inline-block;
    width: 150px;
    margin: 30px 0 0 0;
    text-align: center;
    color: rgb(95, 20, 235);
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 15px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);
}
.container_wave{
    width: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    height: 300px;
}
.submite{
    
    text-align: center;
    text-justify: auto;

   height: 80px;
    color: #51578a;
    

    
}
.submite__course{
    width: 90%;
}
.submite__title > h2{
    text-align: center;
    margin: 30px;
    line-height: 1.5;
    font-weight: 300%;
    text-justify: auto;

}
.submite__paragraph {
    margin: 30px  ;
     text-align: center;
   line-height: 1.5;
    font-weight: 300%;

}
.container-gallery{
   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 60px;
   /* padding-bottom: 20px;**/
}
h1{
    color: #677988;
    /*text-transform: uppercase;*/
    font-weight: 300;

}
.gallery{
    width: 25%;
    margin-bottom: 25px;

    padding: 20px;
    transition: 0.5;
    background: #FFF;  

    
    
}
.gallery > img{
    width: 50%;
    
    height: 50%;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    display: block;
}
.gallery >h3{
    font-size: 25px;
    margin-top: 30px;
    color:#51578a;

}
.gallery > p{
    font-weight: 50;
    color: blue;
   
    padding-bottom: 20px;
    text-transform: lowercase;


    
}
.about{
    display: flex;
    grid-template-columns: 6fr 6fr;
    
    text-align: justify;
color: #51578a;

    

    
}
.about__course{
    width: 90%;
}
.about__title > h2{
    margin: 30px;
    line-height: 1.5;
    font-weight: 300%;

}
.about__paragraph{
    margin: 30px  0;
text-align: justify;
    line-height: 1.5;
    font-weight: 300%;
    margin-right: 100px;
}
.about__img{
    width: 300px;
    height: 300px;
    border-radius: 150%;
    width: 20;

    margin-left: 100px;
    
}

.about__picture{
    width: 80%;
    

}
.cta {
   
    background-color: #51578a;

    display: inline-block;
    width: 150px;
    margin: 30px 0 0 0;
    text-align: center;
    color: #FFF;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 15px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);
}

.esta{
    background-color: #51578a;
    
    text-align: center;
    color:gainsboro;
    
}   
.esta_cours{
    width: 100%;

}
.esta__title > h2{
    text-align: center;
    margin: 50px;
    line-height: 1.5;
    font-weight: 300%;

}
.esta__paragraph {
    margin: 30px  ;
     text-align: center;
   line-height: 1.5;
    font-weight: 300%;
    text-transform: lowercase;
    margin-right: 100px;
}
.esta_cours h3{
    margin-bottom: 50 px;
}
.esta_cours h3 span{
    background: #3559bbce;
    color:#fff;
    width: 80px;
    height: 80px;
    border-radius: 50;
    justify-content: space-evenly;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    box-shadow:  0 0 6px 0 rgba(53, 123, 133, 0.651);
    margin-right: 50px;
}

.university{
    
    display: flex;
    grid-template-columns: 3fr 3fr;
    align-items: center ;
    height: 50vh;
    color:#3559bbce;
    
    place-items: center;
    position: relative;
    gap: 20px;
   min-width: 500px;
   margin-left: 100px;
}

.university > img{
    width: 300px;
    height: 300px;
    border-radius: 150%;
    width: 20;
    margin-right: 100px;
    
}



.text-students{
    margin: 30px 0;

    margin-left: 100px;
}



.text-students p{

    font-weight: 300;
    margin-top: 15px;
    color: #19456b;
    text-align: justify;
}

.text-university a{
    background: #51578a; 
    display: inline-block;
    width: 150px;
    margin: 30px 0 0 0;
    text-align: center;
    color: #FFF;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 15px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);




}
.presention{
    margin: 30px 0 0 0;
    display: flex;
    height: 430%;
     width: 100%;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     margin-top: 150px;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;


    background: -webkit-linear-gradient(to right, rgb(27 180 222 / 76%), rgb(0 0 71 / 75%)), url(../images/portada2.jpg);
    background: linear-gradient(to right, rgb(27 180 222 / 76%), rgb(0 0 71 / 75%)), url(../images/portada2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.presention > img{
    width: 150px;
    height: 150px;
    border-radius: 150%;
    
    
}

.presention h2{
    font-size: 40px;
    font-weight: 30;
    color:#fff;
    margin: 10px 0 0 0;
}
.presention p{
    font-size: 15px;
    font-weight: 30;
    color:rgb(255, 255, 255);
    margin: 10px 0 0 0;

}

.text-presention{
    margin: 0 0 0 30px
}
.contec {
    
    text-align: center;
    height: 150px;
    margin: 60px 0 0 0;
    color: #51578a;
}
.contec p{
    width: 80%;
    margin: 0 auto;
  

}
.contec a{
   
    background: #51578a ;
    display: inline-block;
    width: 150px;
    margin: 30px 0 0 0;
    text-align: center;
    color: #FFF;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 15px;
   /* box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);*/
}

footer{
    background: black;
    padding:  0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.partFooter{
    width: 20%;
    text-align: center;
    color: gainsboro;
}

.partFooter img{
    width: 70%;
}

.partFooter h4{
    color:ghostwhite;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a{
    display: block;
    text-decoration: none;
    color: gainsboro;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}


